@model Peeters_Sam_r049890.ViewModels.SmartphoneListViewModel

@{
  ViewData["Title"] = "Home Page";
}

<div class="row">
  @foreach (var item in Model.Smartphones)
  {
    <div class="col-md-4 col-xs-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">@Html.DisplayFor(s => item.Merk)</h5>
          <p class="card-text">@Html.DisplayFor(s => item.Model)</p>
          <p class="card-text">€ @Html.DisplayFor(s => item.Prijs)</p>
          <a class="btn btn-primary" asp-controller="Order" asp-action="Index" asp-route-id="@item.SmartphoneId">Add to shoppingcard</a>
        </div>
      </div>
    </div>
  }
</div>


