@model Peeters_Sam_r049890.ViewModels.GebruikerListViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Gebruikers</h2>
<p>
  <a asp-action="Create">Maak nieuwe gebruiker aan</a>
</p>
<table>
  <thead>
    <tr>
      <th class="col-md-4">
        @Html.DisplayNameFor(v => v.Gebruikers[0].Id)
      </th>
      <th class="col-md-2">
        @Html.DisplayNameFor(v => v.Gebruikers[0].Naam)
      </th>
      <th class="col-md-2">
        @Html.DisplayNameFor(v => v.Gebruikers[0].Voornaam)
      </th>
      <th class="col-md-2">
        &nbsp;
      </th>
    </tr>

  </thead>
  <tbody>
    @foreach (var item in Model.Gebruikers)
    {
    <tr>
      <td class="col-md-4">
        @Html.DisplayNameFor(v => item.Id)
      </td>
      <td class="col-md-2">
        @Html.DisplayNameFor(v => item.Naam)
      </td>
      <td class="col-md-2">
        @Html.DisplayNameFor(v => item.Voornaam)
      </td>
      <td>
        <a asp-action="Details" asp--route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp--route-id="@item.Id">Delete</a>
      </td>
    </tr>
    }
  </tbody>
</table>
